{namespace hello.world.templates}

/**
 * Says hello world.
 */
{template .sayHi}
  <h1 class="{css hello-header}">
    {msg desc="Says hello world"}
      Hello world!
    {/msg}
  </h1>
{/template}
