{namespace scratch.root.templates}

/**
 * Root template for scratch.
 */
{template .root}
  <h1 class="{css scratch-root-header}">
    {msg desc="Header for the scratch console"}
      Scratch Console
    {/msg}
  </h1>
{/template}
