{namespace scratch.root.templates}

/**
 * Root template for scratch.
 */
{template .root}
  <div class="{css scratch-root}">
    <h1>
      {msg desc="Header for the scratch console"}
        Scratch Console
      {/msg}
    </h1>
  </div>
{/template}
